# Archivos generados por IDEs y editores de texto
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.tmp
*.tmp.*
*.bak
*.cache
*.log
*.log.*
*.pid
*.seed
*.pid.lock
*.dat
*.out

# Dependencias y módulos de lenguajes de programación
node_modules/
bower_components/
*.gem
*.rbc
*.pyc
*.pyo
*.dll
*.exe
*.obj
*.o
*.class
*.so
*.dylib
*.app
*.i*86
*.x86_64
*.gcno
*.gcda
*.gcov
*.stackdump
build/
bin/
lib/
libs/

# Paquetes y archivos específicos de lenguajes de programación
# Ejemplos para Python, Ruby, Java, C++, C#, PHP
*.egg
*.egg-info/
dist/
build/
target/
out/
*.iml
*.war
*.ear
*.jar
*.zip
*.tar.gz
*.rar
*.bak
*.apk
*.exe
*.msi
*.ipa
*.deb
*.dmg
*.xpi
*.dll
*.dylib
*.so
*.bundle
*.app

# Archivos y directorios generados por herramientas de construcción
# Ejemplos para Maven, Gradle, npm, Bower
target/
out/
build/
dist/
bower_components/
*.lock
*.env
*.log
*.logs
*.swp
*.tmp
*.tmp.*
*.jar

# Archivos y directorios relacionados con sistemas operativos
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de configuración y claves secretas
.env
.env.*
config.js
*.config.js
*.json

# Archivos de registro y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error.log*
stacktrace.log*
logs/
*.log
*.log.*
*.pid
*.pid.*

# Otras exclusiones generales
/dist
/vendor
/node_modules
/public
/build
/docs
/out
/.next
/.cache
/.sass-cache
/.idea
/.vs
/.vscode
/*.lock
/*.log
/*.swp
/*.tmp
/*.tmp.*
/*.bak
/*.cache
/*.env
/*.log.*
/*.pid
/*.pid.*
/*.seed

# Exclusión de archivos y directorios específicos
# Ejemplos: readme.txt, directory/another-file.js
readme.txt
directory/another-file.js